<!DOCTYPE html>
<html>
<head lang="fr">
    <title>Product Management</title>

    <!-- Include responsive as default behaviour -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--favicon-->
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/app.min.css">
    <script src="/angular.min.js"></script>
    <script src="/ui-bootstrap-tpls.min.js"></script>
    <script src="/app.min.js"></script>

</head>
<body ng-app="app">
<nav class="navbar navbar-default" ng-controller="NavCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Product Management</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>
        <ul class="nav navbar-nav" style="float: right">
            <li><a href="" ng-click="openLogInModal()"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
        </ul>
    </div>
</nav>
<ng-view></ng-view>
</body>
</html>
