<div class="modal-header">
    <h3 class="modal-title">Se connecter</h3>
</div>
<div class="modal-body">
    <form name="userForm">
        <!-- EMAIL -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.login.$invalid && !userForm.login.$pristine }">
            <label>Email</label>
            <input type="email" name="login" class="form-control" ng-model="login" required
                   ng-pattern="/^[a-zA-Z0-9._-]+@[a-z0-9._-]{2,}\.[a-z]{2,4}$/">
            <p ng-show="userForm.login.$invalid && !userForm.login.$pristine" class="help-block">Entrer un email
                correct.</p>
        </div>
        <!-- LOGIN -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
            <label>Password</label>
            <input type="password" name="password" class="form-control" ng-model="password" required>
            <p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="help-block">Votre mot de
                passe est requis.</p>
            <!-- REMEMBER -->
            <div style="padding-left: 0; padding-top: 10px">Se souvenir de moi ?
                <input style="vertical-align: top;" type="checkbox" name="remember" ng-model="remember"></div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <!-- SUBMIT BUTTON -->
    <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">
        S'authentifier
    </button>
</div>